In [70]:
import pandas as pd

In [71]:
df = pd.read_csv(r"C:\Users\playdata2\Downloads\archive\HR_Analytics.csv")

In [72]:
df = df.rename(columns={
    'EmpID': '직원ID',
    'Age': '나이',
    'AgeGroup': '연령대',
    'Attrition': '퇴사여부',
    'BusinessTravel': '출장빈도',
    'DailyRate': '일급',
    'Department': '부서',
    'DistanceFromHome': '집과의거리',
    'Education': '교육수준',
    'EducationField': '전공분야',
    'EmployeeCount': '직원수',
    'EmployeeNumber': '직원번호',
    'EnvironmentSatisfaction': '근무환경만족도',
    'Gender': '성별',
    'HourlyRate': '시급',
    'JobInvolvement': '직무몰입도',
    'JobLevel': '직급',
    'JobRole': '직무',
    'JobSatisfaction': '직무만족도',
    'MaritalStatus': '결혼상태',
    'MonthlyIncome': '월급',
    'SalarySlab': '급여구간',
    'MonthlyRate': '월별지급액',
    'NumCompaniesWorked': '이전회사근무횟수',
    'Over18': '18세이상여부',
    'OverTime': '초과근무여부',
    'PercentSalaryHike': '급여인상률',
    'PerformanceRating': '성과평가등급',
    'RelationshipSatisfaction': '대인관계만족도',
    'StandardHours': '표준근무시간',
    'StockOptionLevel': '스톡옵션수준',
    'TotalWorkingYears': '총경력년수',
    'TrainingTimesLastYear': '전년도교육횟수',
    'WorkLifeBalance': '워라밸수준',
    'YearsAtCompany': '현회사근속년수',
    'YearsInCurrentRole': '현재직무근무년수',
    'YearsSinceLastPromotion': '마지막승진후경과년수',
    'YearsWithCurrManager': '현상사와근무년수'
})

In [73]:
drop_columns = [
    '직원ID',
    '직원번호',
    '직원수',
    '18세이상여부',
    '표준근무시간'
]


df = df.drop(columns=drop_columns)

In [74]:
df = df.drop(columns=['시급', '급여구간', '월별지급액'])
df = df.drop(columns='일급')
df = df.drop(columns='연령대')

In [75]:
job_mapping = {
    "Healthcare Representative": "전문직",
    "Human Resources": "인사직",
    "Laboratory Technician": "연구/기술직",
    "Research Scientist": "연구/기술직",
    "Research Director": "연구/관리직",
    "Manufacturing Director": "생산/관리직",
    "Manager": "관리직",
    "Sales Executive": "영업직",
    "Sales Representative": "영업직"
}

df["직무분류"] = df["직무"].map(job_mapping)

df = df.drop(columns=["직무"])

df["직무분류"].value_counts()

직무분류
연구/기술직    554
영업직       413
생산/관리직    147
전문직       132
관리직       102
연구/관리직     80
인사직        52
Name: count, dtype: int64

In [76]:
df.groupby("퇴사여부")["전공분야"].value_counts(normalize=True)

퇴사여부  전공분야
No    Life Sciences       0.417069
      Medical             0.327697
      Marketing           0.100644
      Technical Degree    0.080515
      Other               0.057971
      Human Resources     0.016103
Yes   Life Sciences       0.373950
      Medical             0.264706
      Marketing           0.151261
      Technical Degree    0.134454
      Other               0.046218
      Human Resources     0.029412
Name: proportion, dtype: float64

In [77]:
education_mapping = {
    "Life Sciences": "생명과학",
    "Medical": "의학",
    "Marketing": "마케팅",
    "Technical Degree": "공학/기술",
    "Other": "기타",
    "Human Resources": "인사"
}

df["전공분야"] = df["전공분야"].map(education_mapping)

In [79]:
department_mapping = {
    "Sales": "영업부",
    "Research & Development": "연구개발부",
    "Human Resources": "인사부"
}

df["부서"] = df["부서"].map(department_mapping)

# 확인
df["부서"].value_counts()

부서
연구개발부    967
영업부      450
인사부       63
Name: count, dtype: int64

In [88]:
df.columns

Index(['나이', '퇴사여부', '출장빈도', '부서', '집과의거리', '교육수준', '전공분야', '근무환경만족도', '성별',
       '직무몰입도', '직급', '직무만족도', '결혼상태', '월급', '이전회사근무횟수', '초과근무여부', '급여인상률',
       '성과평가등급', '대인관계만족도', '총경력년수', '워라밸수준', '현회사근속년수', '현재직무근무년수',
       '마지막승진후경과년수', '직무분류'],
      dtype='object')

In [87]:
df = df.drop(columns=["스톡옵션수준", "전년도교육횟수", "현상사와근무년수"])

In [89]:
df.to_csv("HR_Analytics_한글컬럼.csv", index=False, encoding="utf-8-sig")